body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-align: left;
}

a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

nav button{
    margin-right: 20px;
}


.scrl{
    width: 100%;
    height: 400px;
}

.scrl marquee img{
    height: 400px;
    width: 100%;
    margin-right: 10px;
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    /* width: 375px; */
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/mens_clothing.png");
    background-size: cover;
}

.product2{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/3.png");
    background-size: cover;
}

.product3{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/womens_clothing.png");
    background-size: cover;
}

.product4{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/6.png");
    background-size: cover;
}

.product5{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/10.png");
    background-size: cover;
}

.product6{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/5.png");
    background-size: cover;
}

.product7{

    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/9.png");
    background-size: cover;
}

.product8{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 300px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/AF/PD/Deals/7.png");
    background-size: cover;
}

.product:hover {
    transform: scale(1.05);
}
.product2:hover {
    transform: scale(1.05);
}
.product3:hover {
    transform: scale(1.05);
}
.product4:hover {
    transform: scale(1.05);
}
.product5:hover {
    transform: scale(1.05);
}
.product6:hover {
    transform: scale(1.05);
}
.product7:hover {
    transform: scale(1.05);
}
.product8:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-info {
    padding: 20px;
}

.product h3 {
    margin-top: 0;
}

.product p {
    color: #777;
}

.product button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: auto;
    /* position: fixed;*/
    bottom: 0;
    width: 100%;
}
.anc{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

.product, .product2, .product3, .product4, .product5, .product6, .product7, .product8{
    width: 375px;
}